/* body {
  font-size: 10px;
  color: black;
  background-color: #000000;
  margin: 0;
  height: 100vh;
} */

.container {
  height: 100vh;
  width: 100vw;
  background-color: #1f0f02;
}

html,
body {
  margin: 0;
  padding: 0;
  image-rendering: optimizeSpeed; /* Older versions of FF */
  image-rendering: -moz-crisp-edges; /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming) */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: crisp-edges; /* Possible future browsers. */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non standard naming) */
  image-rendering: pixelated; /* Chrome 41 */
}

@font-face {
  font-family: "Dungeon";
  src: url("../fonts/PKMN-Mystery-Dungeon.woff") format("woff"),
    url("../fonts/PKMN-Mystery-Dungeon.ttf") format("truetype");
}
